/* Write your CSS here */
.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to left, #e2a139, #f9d423);
  min-height: 100vh;
}

.coin-toss-container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 16px;
  padding: 24px;
  width: 80%;
}

.heading {
  text-align: center;
  color: #a35200;
  font-family: 'roboto';
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 8px;
}

.description {
  color: #334155;
  font-family: 'Roboto';
  font-size: 20px;
  font-weight: 500;
  margin-top: 8px;
}

.toss-result-img {
  width: 150px;
  height: 150px;
}

.button {
  background-color: #f9d423;
  color: #a35200;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 500;
  border: none;
  border-radius: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  margin-top: 16px;
}

.counts-container {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.count {
  color: #475569;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 500;
  margin-left: 24px;
  margin-right: 24px;
}
